@charset "utf-8";

:root {
    --background-color: #fafafa;
    --fd-blue: #3897f0;
    --link-color: #003569;
}

.login-squre {
    width: 100%;
    max-width: 800px;
    margin: 45px auto;
    display: flex;
}

